body{
    background-image: url('/svg/background.jpg');
    background-repeat: no-repeat;
}
#admin{
    height: 38px;
    background-color: #b0d50c;
    text-decoration-color: rgb(255, 255, 255);
    border: #b0d50c;
}
#admin:hover{
    background-color: rgb(117, 166, 49); 
}
#dropdown_menu{
    background-color: #004466;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
}
.navbar-nav{
    margin: 0 !important;
    width: 100%;
    justify-content: space-between;
}